/* Dormitorios2.css */
.info-general-container {
    background-color: #87CEFA; /* Фон түсі */
    padding: 20px; /* Ішкі отыру */
    border-radius: 10px; /* Шетінің дөңгеленуі */
    width: 100%; /* Кенейту */
    max-width: 600px; /* Максималды ені */
    margin: 0 auto; /* Орталықтастыру */
    text-align: center; /* Мәтіннің орналасуы */
    font-family: 'Arial', sans-serif; /* Шрифт */
    color: #000; /* Мәтіннің түсі */
}

.info-general-container h1 {
    font-size: 24px; /* Тақырып шрифтінің мөлшері */
    margin-bottom: 20px; /* Тақырыптан кейінгі бос орын */
}

.info-general-container .form-group {
    display: flex; /* Блокты горизонтальды орналастыру */
    flex-direction: column; /* Баған бойынша орналастыру */
    gap: 15px; /* Элементтер арасындағы бос орын */
}

.info-general-container .input-item {
    display: flex; /* Блокты горизонтальды орналастыру */
    align-items: center; /* Орталықтандыру */
    background-color: white; /* Фон түсі */
    border-radius: 5px; /* Шетінің дөңгеленуі */
    padding: 5px; /* Ішкі отыру */
    border: 2px solid #4682B4; /* Шекара түсі */
}

.info-general-container .input-item .icono {
    background-color: #4682B4; /* Иконканың фон түсі */
    color: white; /* Иконканың түсі */
    padding: 10px; /* Ішкі отыру */
    border-radius: 50%; /* Дөңгелектеу */
    margin-right: 10px; /* Оң жақтағы бос орын */
    font-size: 20px; /* Шрифт мөлшері */
}

.info-general-container .input-item input,
.info-general-container .input-item select {
    border: none; /* Шекараны жасыру */
    outline: none; /* Контурды жасыру */
    flex: 1; /* Деңгейден орын алу */
    padding: 10px; /* Ішкі отыру */
    font-size: 16px; /* Шрифт мөлшері */
}

.info-general-container .navigation-buttons {
    display: flex; /* Блокты горизонтальды орналастыру */
    justify-content: space-between; /* Бос орынмен орналастыру */
    margin-top: 20px; /* Жоғарыдағы бос орын */
}

.info-general-container .nav-button {
    background-color: #4682B4; /* Батырманың фон түсі */
    color: white; /* Батырманың мәтін түсі */
    border: none; /* Шекараны жасыру */
    padding: 10px 20px; /* Ішкі отыру */
    border-radius: 50%; /* Дөңгелектеу */
    cursor: pointer; /* Сілтемеге курсор */
    font-size: 18px; /* Шрифт мөлшері */
}

.info-general-container .nav-button:hover {
    background-color: #5A9BD5; /* Батырма үстінде болғанда фон түсі */
}
