.final-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #87CEFA; /* Ашық көк фон */
    width: 500px; /* Ені */
    height: 500px; /* Биіктігі */
    border: 2px solid #000; /* Бүкіл контейнерді қоршау */
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Ортасына орналастыру */
}

.logo-container {
    margin-bottom: 20px; /* Логотип пен сурет арасында бос орын */
    border: 2px solid #000; /* Логотип контейнерін қоршау */
    padding: 10px;
}

.logo {
    width: 150px; /* Логотиптің ені */
    height: auto; /* Биіктікті автоматты түрде сақтау */
}

.image-container {
    cursor: pointer; /* Суреттің үстіне басқанда қолдың курсоры */
    border: 2px solid #000; /* Сурет контейнерін қоршау */
    width: 200px; /* Контейнер ені */
    height: 200px; /* Контейнер биіктігі */
    background-image: url('../images/final-image.png'); /* CSS файлынан сурет орнату */
    background-size: cover; /* Суретті контейнерге толтыру */
    background-position: center; /* Суреттің орнын ортаға қою */
    padding: 10px;
}
